/*
This stylesheet contains only colors which are
different depending on theme. All other styles have
been moved to global.css and imported below.
*/
@import url('global.css');

/*html {
    color-scheme: dark;
}

div.project pre {
    border: 1px solid #666666
}*/
body {
    color: #000;
    background-color: #fff;
}

h1 {
    color: #333;
    font-size: 150%
}

h2 {
    color: #333;
    font-size: 130%
}

h3 {
    color: #333;
}

div.preview pre, div.project pre {
    background-color: #333;
    color: #fff;
}

a {
    color: #009;
}

.header {
    color: #333;
    border-bottom: 1px solid #cccccc;
}

.header .pagetree {
    color: #333;
    border-top: 1px solid #cccccc
}

.header .pagetree .title {
    color: #333
}

table td {
    border: 1px solid black
}


table.skami {
    border-color: #eeeeee
}

table.skami .semiused {
    color: #111;
    background-color: #eee
}

table.skami .unused {
    color: #222;
    background-color: #ddd
}
.toplinks {
    border-bottom: 1px solid #cccccc
}

.deprecated {
    color: #aa0000;
    border-bottom: 2px dashed #aa0000
}
