root {
    --background: #181818;
    --foreground: #dddddd;
}

body {
    font-family: sans-serif;
    margin: 0;
    color: var(--foreground);
    background-color: var(--background);
    text-align: left;
}

html {
    color-scheme: dark;
}

ul {
    list-style-type: square;
}

div.page {
    min-width: 780px;
    max-width: 800px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
}

h1.inline {
    margin-top: 0;
    clear: none;
    display: inline;
}

h1,
h2,
h3 {
    margin-top: 1em;
    clear: left;
}

img {
    border: none;
    max-width: 100%;
}

img.right {
    float: right;
    margin-left: 0.5em;
}

table.form td {
    border: none;
}

/* -------------------------------------------------------------------------- */

div.code-block {
    background-color: var(--background);
    border: 2px solid #dddddd;
    padding: 10px;
    display: inline-block;
    text-align: left;
    max-width: 90%;
    min-width: 400px;
    margin: 10px;
}

div.code-block hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.code-block h1 {
    margin: 0;
    font-family: monospace;
}

div.code-block h1 small {
    color: #919191;
    font-size: 12px;
}

div.code-block pre hr {
    margin-bottom: 5px;
}

div.code-block pre code {
    background-color: #222;
}

pre {
    display: inline;
    max-width: 95%;
    overflow: auto;
}

.header a {
    text-decoration: none;
}

nav {
    margin-bottom: 0.3em;
    text-align: left;
}

nav div a img {
    width: 32px;
}

nav div h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-weight: normal;
    font-size: 30px;
    margin: 10px 10px 10px 0;
}

div.date {
    text-align: center;
}

div.note {
    font-style: italic;
}

table {
    border-collapse: collapse;
    border-color: #fff;
}

table.weather th {
    font-weight: normal;
}

table.weather td {
    font-weight: bold;
    text-align: right;
}

div.rss {
    position: absolute;
    top: 1em;
    right: 1em;
}

div.archived {
    margin-top: 0.5em;
}

div.archived span.date {
    font-style: italic;
    margin-right: 0.2em;
}

video {
    max-width: 100%;
}

.deprecated {
    line-height: 140%;
    width: 100%;
    color: #aa0000;
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 2px dashed #aa0000;
}

table td {
    border: 1px solid white;
}

td {
    padding: 0;
    vertical-align: top;
}

.header .title {
    color: #fff;
}

.header {
    font-size: 100%;
    font-weight: normal;
    padding-bottom: 0;
    text-align: center;
    color: #ffffff;
}

h1 {
    font-size: 150%;
}
h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 115%;
}

table.computers {
    width: 100%;
}

td.computer {
    width: 50%;
    border: 0;
}

div.footer {
    text-align: center;
    margin-bottom: 5px;
}

table.commits tr td {
    border: none;
    padding-right: 5px;
}

a {
    color: #99f;
    text-decoration: none;
}

table.gb-entry-form tr td {
    border: none;
}

table.gb-entry-form tr td label {
    padding-right: 5px;
}

table.gb-entry-form tr td span.text-danger {
    padding-left: 5px;
    color: rgb(255, 114, 114);
}

table.gb-entry-form tr td textarea,
table.gb-entry-form tr td input {
    margin-bottom: 5px;
}

table.gb-entry-form-container {
    width: 100%;
}

table.gb-entry-form-container tr td {
    border: none;
    vertical-align: top;
}

table.gb-entry-form-container tr td p,
table.gb-entry-form-container tr td ul {
    margin: 0;
}

table.gb-entry-form tbody tr td textarea {
    width: 210px;
}

table.gb-entry tr td {
    border: solid #ffffff 1px;
    width: 500px;
    vertical-align: top;
    padding: 5px;
}

table.gb-entry {
    margin-bottom: 5px;
}

table.gb-admin {
    margin-bottom: 5px;
    width: 500px;
    border: #fff solid;
}

table.gb-admin tr td {
    border-right: none;
    border-bottom: none;
    vertical-align: top;
    padding: 5px;
}

table.gb-admin tr td.gb-del {
    border-left: none;
    vertical-align: top;
    padding: 5px;
    width: 32px;
}

table.gb-admin tr td.gb-message {
    border-top: none;
    vertical-align: top;
    padding: 5px;
    column-span: 2;
}

table.info-table tr td {
    border: none;
    padding-right: 5px;
    vertical-align: bottom;
}

table.info-table tr td h1,
table.info-table tr td h2,
table.info-table tr td small {
    margin: 0;
}

caption h1,
caption h2 {
    margin: 0;
}

caption {
    text-align: left;
}

table.info-table tr td small {
    margin-bottom: 5px;
}

.hljs {
    background: none !important;
}

.me img {
    float: right;
    margin: 5px;
}

.me p {
    text-align: justify;
}

a:hover {
    text-decoration: underline;
}
