:root {
    --background: #f2efbd;
    --foreground: #2a271c;
    --border-color: #f27405;
    --border: var(--border-color) 2px solid;
    --shadow-color: hsla(11, 96%, 43%, 0.4);
    --shadow: drop-shadow(8px 8px var(--shadow-color));
    --shadow-small: drop-shadow(3px 3px var(--shadow-color));
    --links: hsl(183, 93%, 27%);
    --links-hover: hsl(183, 93%, 15%);
    --table-header: hsla(11, 96%, 43%, 0.2);
}

html {
    height: 100%;
    color-scheme: light;
}

body {
    color: var(--foreground);
    min-height: 100%;
    background-color: hsla(0, 0%, 0%, 0);
    padding: 10px;
    font-family: serif;
}

/*noinspection CssUnknownTarget*/
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/images/background.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0 0 0;
}

p,
ul,
ol,
dl,
menu,
dir {
    margin: 0;
}

hr {
    border: none;
    border-top: var(--border);
}

a {
    color: var(--links);
    text-decoration: underline dotted;
}

a:hover {
    color: var(--links-hover);
    text-decoration: underline solid;
}

div.page-container {
    width: 800px;
    margin: 5px auto;
}

div.page-container > div {
    background-color: var(--background);
    filter: var(--shadow);
    padding: 10px;
    border: var(--border);
    margin-bottom: 20px;
    /* temporary */
    /* height: 600px; */
}

div.page-container > div:last-child {
    margin-bottom: 0;
}

div#header h1 {
    margin: 0;
    font-style: italic;
}

div#header h1,
div#header p {
    display: inline;
}

div#content {
    position: relative;
}

div#content::after {
    display: block;
    content: "";
    clear: both;
}

div#footer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

div#footer div:last-child {
    text-align: right;
}

div#footer div:last-child img {
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    width: 88px;
    height: 31px;
}

/** Wah! **/
div.wah {
    float: right;
    border: var(--border);
    padding: 5px;
    filter: var(--shadow-small);
    background-color: var(--background);
}

div.wah img {
    display: block;
}

div.wah h3,
div.wah p {
    text-align: center;
    margin: 5px 0;
    font-style: italic;
}

div.wah p {
    margin-bottom: 0;
}

div.wah img {
    width: 250px;
}

/** Guestbook **/
table.form input,
table.form textarea,
table.form button {
    background-color: var(--background);
    border: var(--border);
    filter: var(--shadow-small);
}

table.form input,
table.form textarea {
    width: 250px;
}

table.form button:hover {
    background-color: var(--border-color);
    color: var(--background);
    filter: none;
}

table.form tr td,
table.gb-entry-form-container td:last-child {
    vertical-align: top;
}

div.gb-entry {
    border: var(--border);
    filter: var(--shadow-small);
    background-color: var(--background);
    width: 75%;
    padding: 10px;
}

/** Music **/
table.music-top10 {
    border: var(--border);
    filter: var(--shadow-small);
    background-color: var(--background);
    border-collapse: collapse;
}

table.music-top10 th,
table.music-top10 td {
    padding: 2px 5px;
}

table.music-top10 th:first-child {
    text-align: left;
}

table.music-top10 tr:first-child th {
    border-right: var(--border);
    border-bottom: var(--border);
}

table.music-top10 tr:first-child th:last-child {
    border-right: none;
}

table.music-top10 tr td {
    border-right: var(--border);
}

table.music-top10 tr td:last-child {
    border-right: none;
}
table.music-top10 tr:first-child th,
table.music-top10 tr td:first-child {
    background-color: var(--table-header);
}


/** Bookmarks **/
div.bookmark-category:first-child h2 {
    margin: 0;
}


/** Rosco **/
div.rosco-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

div.rosco {
    border: var(--border);
    padding: 5px;
    filter: var(--shadow-small);
    background-color: var(--background);
    margin: 10px;
    height: auto;
}

div.rosco,
div.rosco img {
    max-width: 220px;
}
