html {
    color-scheme: dark;
}

body {
    font-family: sans-serif;
    margin: 0;
    margin-left: 10px;
    color: #ddd;
    background-color: #333;
}

table.gb_entry_details tr td {
    padding-right: 5px;
}
