:root {
    --background: #40318d;
    --background-secondary: #483c8b;
    --foreground: #f7f7f7;
    --links: #67b6bd;
    --warning: #ff7272;
    --warning-box-bg: #f64a3c;
    --warning-box-border: #c81a11;
}

html {
    color-scheme: dark;
}
