:root {
    --background: #181926;
    --background-light: #363a4f;
    --foreground: #cad3f5;
    --links: #8aadf4;
    --warning: #ff7272;
    --warning-box-bg: #f64a3c;
    --warning-box-border: #c81a11;
}

html {
    color-scheme: dark;
}
