:root {
    --background: #31363a;
    --background-secondary: #4c4f4d;
    --foreground: #e8e8e8;
    --links: #13bf9d;
    --warning: #ff7272;
    --warning-box-bg: #f64a3c;
    --warning-box-border: #c81a11;
}

html {
    color-scheme: dark;
}
