:root {
    --background: #1C1C1C;
    --background-secondary: #585858;
    --foreground: #D0D0D0;
    --links: #5FAFD7;
    --warning: #ff7272;
    --warning-box-bg: #f64a3c;
    --warning-box-border: #c81a11;
}

html {
    color-scheme: dark;
}
