:root {
    --background: #2C2423;
    --background-secondary: #918988;
    --foreground: #F5EEEC;
    --links: #2C64A2;
    --warning: #ff7272;
    --warning-box-bg: #f64a3c;
    --warning-box-border: #c81a11;
}

html {
    color-scheme: dark;
}
