:root {
    --background: #222222;
    --background-secondary: #494949;
    --foreground: #E0E0E0;
    --links: #02C5E0;
    --warning: #ff7272;
    --warning-box-bg: #f64a3c;
    --warning-box-border: #c81a11;
}

html {
    color-scheme: dark;
}
